@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --primary: 220.47 98.26% 36.08%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 346.19 64.65% 42.16%;
    --destructive-foreground: 0 0% 100%;
    --ring: 220.67 97.83% 36.08%;
    --radius: 0.5rem;
    --twitter: 203, 79%, 48%;
    --facebook: 214, 89%, 52%;
    --warning: 47, 95%, 56%;
    --confirm: 102, 40%, 49%;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }

  .dark {
    --background: 220 43% 4%;
    --foreground: 220 16% 99%;
    --muted: 220 39% 8%;
    --muted-foreground: 220 13% 73%;
    --popover: 220 43% 4%;
    --popover-foreground: 220 16% 99%;
    --card: 220 43% 5%;
    --card-foreground: 0 0% 100%;
    --border: 220 2% 13%;
    --input: 220 2% 13%;
    --primary: 220 66% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 7% 9%;
    --secondary-foreground: 220 7% 69%;
    --accent: 220 13% 16%;
    --accent-foreground: 220 13% 76%;
    --destructive: 346.19 64.65% 42.16%;
    --destructive-foreground: 0 0% 100%;
    --ring: 220 66% 58%;
    --twitter: 203, 79%, 48%;
    --facebook: 214, 89%, 52%;
    --warning: 47, 95%, 56%;
    --confirm: 102, 40%, 49%;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  scroll-behavior: smooth;
}
